.searchbar{
    display: block;

    
}
.ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-right-width: 1px;
    outline: 0;
}
.ant-input{
    background-color: #EFEFEF !important;
    border-color: #EFEFEF !important;
    box-shadow: none !important;
}
.ant-input:focus{
    background-color: #EFEFEF !important;
    border-color: #EFEFEF !important;
    box-shadow: none !important;
}
.search{
    background-color: #EFEFEF !important;
    border-color: #EFEFEF !important;
    width: 80% !important;
    height: 38px !important;
    border-radius: 5px !important;
   
}
.search:hover{
    border: 1px solid #EFEFEF !important;
}
.search:focus{
    border-color: none  !important;
    outline:none;
    box-shadow: none !important;
}
._ab6-{
    transform: scale(1);
}
 
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .searchbar{
      display: none;
    }
    
  }